<div>  
  <label class=&quot;required&quot;>__name__label__</label>
  <div id=&quot;app_question_choices___name__&quot;>
    <div> 
      <label for=&quot;app_question_choices___name___value&quot; class=&quot;required&quot;>LOL Value</label>
      <input type=&quot;text&quot; id=&quot;app_question_choices___name___value&quot; name=&quot;app_question[choices][__name__][value]&quot; required=&quot;required&quot; />
    </div>
  </div>
</div>
