{% extends 'base.html.twig' %}
{% block body %}
  <h2 class="text-center"> Thank you for voting </h2>
  <p class="text-center">Do you want to create a vote poll for yourself ? </p>
  <p class="text-center"> Create an account and create a poll in less than 1 minute !! </p>

{% endblock %}
